<!DOCTYPE html>
<html>
    <head>
        <title>Site de serviços de Macapá</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="css/profile.css"/>
        <link rel="stylesheet" href="css/menu_profile.css"/>
        <link rel="stylesheet" href="css/styl.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/normalize.min.css" rel="stylesheet">
        <link href="css/user_profile.css" rel="stylesheet">
        <script src="js/jquery.js"></script>
        <script src="js/script.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
        <script type="text/javascript">
            var w = window.innerWidth;
            window.alert(w);
            $(function () {
                $('#info-user').hover(function () {
                    $(this).addClass('radius-info');
                    $('#container-info').slideToggle(200);
                }, function () {
                    $(this).removeClass('radius-info');
                    $('#container-info').slideToggle(200);
                });
            });
        </script>
        <style type="text/css">


        </style>
    </head>
    <body>

        <header>
            <div>
                <span class="text-defull">Serviços AP</span>

                <div id="nav_content" class="nav_mobile">
                    <a href="#" id="menu_profile"><i class="fa fa-bars"></i></a>
                </div>


            </div>
            <nav>


                <div>
                    <ul>
                        <li class="list_style_menu_item"><a href="#">Saúde</a></li>
                        <li class="list_style_menu_item"><a href="#">Domestico</a></li>
                        <li class="list_style_menu_item"><a href="#">Ensino Escolar</a></li>
                        <li class="list_style_menu_item"><a href="#">Aulas particulares</a></li>
                        <li class="list_style_menu_item"><a href="#">Programação</a></li>
                        <li class="list_style_menu_item"><a href="#">Mobile</a></li>
                        <li class="list_style_menu_item"><a href="#">Front-end</a></li>
                        <li class="list_style_menu_item"><a href="#">Serviços gerais</a></li>
                    </ul>
                </div>

            </nav>


        </header>
        <ul class="iten__mobile">
            <li class="list_style_menu_item"><a class="color_white" href="#">Saúde</a></li>
            <li class="list_style_menu_item"><a class="color_white" href="#">Domestico</a></li>
            <li class="list_style_menu_item"><a class="color_white" href="#">Ensino Escolar</a></li>
            <li class="list_style_menu_item"><a class="color_white" href="#">Aulas particulares</a></li>
            <li class="list_style_menu_item"><a class="color_white" href="#">Programação</a></li>
            <li class="list_style_menu_item"><a class="color_white" href="#">Mobile</a></li>
            <li class="list_style_menu_item"><a class="color_white" href="#">Front-end</a></li>
            <li class="list_style_menu_item"><a class="color_white" href="#">Serviços gerais</a></li>
        </ul>
        <section id="profile_contrato">

            <div id="container_main">
                <div id="container-profile">
                    <div id="info-user">
                        Informações de contato
                        <div id="container-info">
                            <div>
                                <span class="span_line">Informações de contato</span>
                                <div class="info"><span>Email: </span><a href="https://www.gmail.com.br">salomaum.batiata@gmail.com</a></div>
                                <div class="info"><span>Telefone/Celular: </span><a href="https://www.gmail.com.br">(92) 99132-3261 / (96) 99128-6618</a></div>
                                <div class="info"><span>Google Plus: </span><a href="https://plus.google.com/u/0/">https://plus.google.com/u/0/</a></div>

                            </div>
                        </div> 
                    </div>
                </div>
                <div id="container_banner">
                    <img src="img/salomao.jpg" alt="" />
                    <span>Salomão Batista</span>
                    <h1>Profissional na área da Tecnologia da Informação</h1>



                </div>
            </div>
            <div id="main_payment">
                <span class="text-defull addres_attrs">Formas de pagamentos</span>    

                <div id="container_payment">

                    <!-- Pagseguro -->
                    <!-- Declaração do formulário -->  
                    <form method="post" target="pagseguro"  
                          action="https://pagseguro.uol.com.br/v2/checkout/payment.html">  

                        <!-- Campos obrigatórios -->  
                        <input name="receiverEmail" type="hidden" value="suporte@lojamodelo.com.br">  
                        <input name="currency" type="hidden" value="BRL">  

                        <!-- Itens do pagamento (ao menos um item é obrigatório) -->  
                        <input name="itemId1" type="hidden" value="0001">  
                        <input name="itemDescription1" type="hidden" value="Servico de Back-end">  
                        <input name="itemAmount1" type="hidden" value="24300.00">  
                        <input name="itemQuantity1" type="hidden" value="1">  
                        <input name="itemWeight1" type="hidden" value="1000">  
                        <input name="itemId2" type="hidden" value="0002">  
                        <input name="itemDescription2" type="hidden" value="Servicos de Front-end">  
                        <input name="itemAmount2" type="hidden" value="25600.00">  
                        <input name="itemQuantity2" type="hidden" value="2">  
                        <input name="itemWeight2" type="hidden" value="750">  

                        <!-- Código de referência do pagamento no seu sistema (opcional) -->  
                        <input name="reference" type="hidden" value="REF1234">  

                        <!-- Informações de frete (opcionais) -->  
                        <input name="shippingType" type="hidden" value="1">  
                        <input name="shippingAddressPostalCode" type="hidden" value="689259202">  
                        <input name="shippingAddressStreet" type="hidden" value="Rua Raimundo Nunes da Cruz">  
                        <input name="shippingAddressNumber" type="hidden" value="316">  
                        <input name="shippingAddressComplement" type="hidden" value="5o andar">  
                        <input name="shippingAddressDistrict" type="hidden" value="Novo Horizonte">  
                        <input name="shippingAddressCity" type="hidden" value="Santana">  
                        <input name="shippingAddressState" type="hidden" value="AP">  
                        <input name="shippingAddressCountry" type="hidden" value="BRA">  

                        <!-- Dados do comprador (opcionais) -->  
                        <input name="senderName" type="hidden" value="José Comprador">  
                        <input name="senderAreaCode" type="hidden" value="11">  
                        <input name="senderPhone" type="hidden" value="56273440">  
                        <input name="senderEmail" type="hidden" value="comprador@uol.com.br">  

                        <!-- submit do form (obrigatório) -->  
                        <input alt="Pague com PagSeguro" name="submit"  type="image"  
                               src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif"/>  

                    </form>  
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

                        <!-- Identify your business so that you can collect the payments. -->
                        <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">

                        <!-- Specify a Buy Now button. -->
                        <input type="hidden" name="cmd" value="_xclick">

                        <!-- Specify details about the item that buyers will purchase. -->
                        <input type="hidden" name="item_name" value="Hot Sauce-12oz. Bottle">
                        <input type="hidden" name="amount" value="5.95">
                        <input type="hidden" name="currency_code" value="USD">

                        <!-- Display the payment button. -->
                        <input type="image" name="submit" border="0"
                               src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png"
                               alt="Buy Now">
                        <img alt="" border="0" width="1" height="1"
                             src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

                    </form>
                </div>
            </div>
        </section>
        <div id="sugest">
            <div>
                <form name="form" action="#" method="post">
                    <h1>Procure um serviço agora! : )</h1>
                    <input type="email" name="email" placeholder="Informe seu melhor email">
                    <input type="submit" class="input" value="Enviar!">
                </form>
            </div>
        </div>
        <div id="developer">

            <div id="developer_master">
                <ul>
                    <li><h1>Desenvolvedores</h1></li>
                    <li><a href="#">Back-end - Salomão Batista, Ronaldo Almeida, John Mayk</a></li>
                    <li><a href="#">Front-end - Salomão Batista, Ronaldo Almeida, John Mayk</a></li>
                    <li><a href="#">Segurança - Leovaldo Barbosa</a></li>
                </ul>
                <ul>
                    <li><h1>StartUp - Lapserver</h1></li>
                    <li><a href="#">Quem somos?</a></li>
                    <li><a href="#">Projetos - Projeti</a></li>
                    <li><a href="#">Git e GitHub</a></li>
                    <li><a href="#">Portifólio</a></li>
                    <li><a href="#">Apoia-se!</a></li>
                </ul>
                <ul>
                    <li><h1>Instituições</h1></li>
                    <li><a href="#">Faculdade Meta</a></li>
                    <li><a href="#">Proesc.com</a></li>
                    <li><a href="#">RedHat</a></li>
                </ul>
                <ul>
                    <li><h1>Comunicação</h1></li>
                    <li><a href="#">Entre em contato</a></li>
                    <li><a href="#">Mande-nos um e-mail</a></li>
                    <li><a href="#">FeedBack</a></li>
                    <li><a href="#">Comunidade Lapserver</a></li>
                    <li><a href="#">Salve o mundo!</a></li>
                </ul>
            </div>
        </div>
        <footer class="main_footer container">

            <div class="content">
                <span>Site de desenvolvido pela LapServe Inc. - Todos os direitos reservados.</span>
                <div class="clear"></div>
            </div>
        </footer>



    </body>
</html>