<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>Site de serviços de Macapá</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="css/profile.css"/>
        <link rel="stylesheet" href="css/menu_profile.css"/>
        <link rel="stylesheet" href="css/styl.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/normalize.min.css" rel="stylesheet">
        <link href="css/profile.css" rel="stylesheet">
        <script src="js/jquery.js"></script>
        <script src="js/script.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
        <style type="text/css">
            header{
                display: flex;
            }
        </style>
    </head>

    <body>
         

        <header>
             <div>
                 <span class="text-defull">Serviços AP</span>
                 
                <div id="nav_content" class="nav_mobile">
                            <a href="#" id="menu_profile"><i class="fa fa-bars"></i></a>
                    </div>
                 
                
             </div>
            <nav>
                

                <div>
                <ul>
                    <li class="list_style_menu_item"><a href="#">Saúde</a></li>
                    <li class="list_style_menu_item"><a href="#">Domestico</a></li>
                    <li class="list_style_menu_item"><a href="#">Ensino Escolar</a></li>
                    <li class="list_style_menu_item"><a href="#">Aulas particulares</a></li>
                    <li class="list_style_menu_item"><a href="#">Programação</a></li>
                    <li class="list_style_menu_item"><a href="#">Mobile</a></li>
                    <li class="list_style_menu_item"><a href="#">Front-end</a></li>
                    <li class="list_style_menu_item"><a href="#">Serviços gerais</a></li>
                </ul>
                </div>
             
            </nav>
           
           
        </header>
         <ul class="iten__mobile">
                   <li class="list_style_menu_item"><a class="color_white" href="#">Saúde</a></li>
                    <li class="list_style_menu_item"><a class="color_white" href="#">Domestico</a></li>
                    <li class="list_style_menu_item"><a class="color_white" href="#">Ensino Escolar</a></li>
                    <li class="list_style_menu_item"><a class="color_white" href="#">Aulas particulares</a></li>
                    <li class="list_style_menu_item"><a class="color_white" href="#">Programação</a></li>
                    <li class="list_style_menu_item"><a class="color_white" href="#">Mobile</a></li>
                    <li class="list_style_menu_item"><a class="color_white" href="#">Front-end</a></li>
                    <li class="list_style_menu_item"><a class="color_white" href="#">Serviços gerais</a></li>
                </ul>

        <div id="container">
            <div id="container_main">
                <div id="container_banner">
                    <img src="img/salomao.jpg" alt="" />
                    <span class="text-defull">Salomão Batista</span>
                    <h1>Profissional na área da Tecnologia da Informação</h1>
                    <a href="contrato.html">Contratar serviço</a>
                </div>
            </div>
            <div id="section_skills">
                <div>
                    <h1>Contrate o serviço e ...</h1>
                    <ul>
                        <li>Tenha um site totalmente responsivo</li>
                        <li>Tenha um aplicativo android ou ios</li>
                        <li>Tenha as melhores soluções de desenvolvimento de sistema para sua empresa</li>
                        <li>Tenha um sistema de e-commerce para as suas lojas</li>

                    </ul>
                </div>
                <div class="skillts_style">
                    <h1>Garantia de serviços</h1>
                    <ul class="list_style">
                        <li>Manutençao dos serviços</li>
                        <li>Suporte técnico</li>
                        <li>Implementação dos sistemas</li>
                        <li>Gerenciamento de Banco</li>

                    </ul>
                </div>
            </div>
            <div id="container_profile_comments">
                <h1>Depoimetos</h1>
                <div id="conteiner_chat">
                    <div>
                        <div id="users_thumbs">
                            <img src="img/alice.jpg">
                            <h1>Alice</h1>
                        </div>
                        <p>Uma das melhores plataforma para contratar serviços na área de tecnologos da informação.</p>
                        <a href="">Mobile</a>
                    </div>
                    <div>
                        <div id="users_thumbs">
                            <img src="img/amanda.jpg">
                            <h1>Amanda</h1>
                        </div>
                        <p>Boa iniciativa do grupo lapserver para criar a solução que melhoraria a qualidade de serviço no meio empresarial.</p>
                        <a href="#">Front-End</a>
                    </div>
                    <div>
                        <div id="users_thumbs">
                            <img src="img/gabriela.jpg">
                            <h1>Gabriela</h1>
                        </div>
                        <p>Preços acessíveis e qualidade impressionantes. Melhor plataforma para contratar serviços na área de soluções de TI.</p>
                        <a href="#">Back-end</a>
                    </div>
                    <div>
                        <div id="users_thumbs">
                            <img src="img/pamella.jpg">
                            <h1>Pamella</h1>
                        </div>
                        <p>Muito atento à qualidade do serviço e um suporte muito bom. Tendo acompanhamento na implatação do sistema e menutençao do mesmo.</p>
                        <a href="#">Android Developers/Kotlin/Java</a>
                    </div>
                </div>
            </div>
           

        </div>
        <div id="sugest">
            <div>
                <form name="form" action="#" method="post">
                    <h1>Procure um serviço agora! : )</h1>
                    <input type="email" name="email" placeholder="Informe seu melhor email">
                    <input type="submit" class="input" value="Enviar!">
                </form>
            </div>
        </div>
        <div id="developer">

            <div id="developer_master">
                <ul>
                    <li><h1>Desenvolvedores</h1></li>
                    <li><a href="#">Back-end - Salomão Batista, Ronaldo Almeida, John Mayk</a></li>
                    <li><a href="#">Front-end - Salomão Batista, Ronaldo Almeida, John Mayk</a></li>
                    <li><a href="#">Segurança - Leovaldo Barbosa</a></li>
                </ul>
                <ul>
                    <li><h1>StartUp - Lapserver</h1></li>
                    <li><a href="#">Quem somos?</a></li>
                    <li><a href="#">Projetos - Projeti</a></li>
                    <li><a href="#">Git e GitHub</a></li>
                    <li><a href="#">Portifólio</a></li>
                    <li><a href="#">Apoia-se!</a></li>
                </ul>
                <ul>
                    <li><h1>Instituições</h1></li>
                    <li><a href="#">Faculdade Meta</a></li>
                    <li><a href="#">Proesc.com</a></li>
                    <li><a href="#">RedHat</a></li>
                </ul>
                <ul>
                    <li><h1>Comunicação</h1></li>
                    <li><a href="#">Entre em contato</a></li>
                    <li><a href="#">Mande-nos um e-mail</a></li>
                    <li><a href="#">FeedBack</a></li>
                    <li><a href="#">Comunidade Lapserver</a></li>
                    <li><a href="#">Salve o mundo!</a></li>
                </ul>
            </div>
        </div>
        <footer class="main_footer container">
            <div class="content">
                <span>Site de desenvolvido pela LapServe Inc. - Todos os direitos reservados.</span>
                <div class="clear"></div>
            </div>
        </footer>
    </body>
</html>
