*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text-defull {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.50em;
	font-weight: 400;
	color: rgba(0,0,0,0.4);
}
.text-defull:hover {
	text-decoration: none;
	color: rgba(0,0,0,0.7);
}
.text-defull-sm {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: rgba(0,0,0,0.4);
}
.text-defull-lg {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	font-weight: 400;
	color: rgba(0,0,0,0.4);
}
.active{
	color: black;
}
.submenu-hover:hover{
	color: rgba(0,0,0,0.6);
}

.active-bar{
	padding: 10px;
	width: 50%;
	position: relative;
	border-bottom: 2px solid #f55400;
}
i{
	color:white;
	cursor: pointer;
	padding: 10px;

}
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.flex-column-normal{
	display: flex;
	flex-direction: column;
	align-items: normal;
	justify-content: space-between;
}
.flex-column-end {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.flex-row-normal {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.flex-row-start {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.user-header{
	padding: 10px;
	width: 100%;
	background-color: #121F27;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.user-header > span{
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

.user-header > ul{
	list-style: none;
	display: flex;
	align-items: center;
}
.user-header ul > li{
	padding: 5px;
}
.user-header ul li > img{

	width: 30px;
	height: 30px;
	border-radius: 2px;
}

/*main-perfil*/

#main-perfil{
	width: 100%;
	padding: 10px;
}
#perfil-container{
	width: 80%;
	padding: 10px;
	background-color: rgba(0,0,0,0.04);
}
#content-perfil{
	width: 40%;
	padding: 10px;
}
/*container perfil*/
.photo-user{
	width: 80%;
}
.photo-user > img{
	width: 100%;
	height: 300px;
}
.editar-perfil{
	width: 100%;
	border: 1px solid #c8e7ff;
	padding: 10px;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	font-weight: 300;

}


/*container perfil fim*/

/*menu-top-conf*/

#menu-top-conf{
	width: 70%;
	padding: 10px;
	position: relative;
	bottom: 135px;
	border-bottom: 2px solid rgba(0,0,0,0.04);
}

/*area-servicos*/
#area-servicos{
	position: relative;
	top: 100px;
	width: 100%;
}

.container-servicos{
	width: 400px;
	padding: 20px;
	border: 1px solid black;
}

/*modal foncoes comeco*/
#modal-funcoes{
	display: none;
	position: relative;
	bottom: 332px;
	left: 1000px;
	width: 200px;
	background-color: white;
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.24);
}
#funcoes-contianer{
	padding: 10px;
}
.lista{
	list-style: none;

}
.lista li > a{
	text-decoration: none;
}
.container-modal ul > li{
	padding: 10px;
}
.container-modal ul li > a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: black;
}
.container-modal ul li > span{
	display: none;
	width: 20px;
	border: 2px solid white;
}