
/*categoria*/
#categoria-container{
    width: 100%;
    padding: 20px;
}
#cat-title{
    width: 100%;

}
#cat-title > span{
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,0.6);
}

#cat-body{
    width: 80%;
}

#cat-body > div{
    border: 1.4px solid #6494C2;
    width: 30.288688410825815%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cat-body div > span{
    padding: 10px;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,0.6);
}
#cat-body div > img{
    padding: 10px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-bottom:8px;
}
#cat-body div > a{
    text-align: center;
    width: 100%;
    border-radius: 2px;
    font-size: 1.25em;
    border-top: 1.4px solid #6494C2;
    padding:8px;
    -webkit-transition:.4s ease-in-out;


}
#cat-body div > a:hover{
    -webkit-box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.24);
    -webkit-transition:.4s ease-in-out;
    text-decoration: none;
    background-color: #6494C2;
    color: white;

}
/*fim categoria*/
@media (max-width: 1055px){
   #cat-body{
       width: 100%;
   }
}
@media (max-width: 790px){
    #cat-body > div{
        width: 48%;
    }
}
@media (max-width: 499px){
    #cat-body > div{
        width: 100%;
    }
    #categoria-container{
        padding: 10px;
    }
}