/*início planos*/
#planos{
    width: 100%;
    padding: 2.081887578070784%;
    background-color: #11161A;
}
#planos-conteudos{
    width: 80%;
}
.planos-item{
    margin-top: 40px;
    width: 40.758501040943789%;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 4px 1px 4px 0px rgba(0,0,0,0.24);
}
.plano-title{
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;
}
.valido{
    font-size: 1.23em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: green;
}
.check_valido{
    font-size: 1.23em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: green;
}
.planos-item > table{
    width: 100%;
}
.planos-item table > tr{
    padding: 10px;
}
.planos-item table tr > td{
    padding: 5px;
}
.planos-item table tr td > span{
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;
}
.assine{
    width: 100%;
    text-align: center;
    padding: 20px;


}
.assine > a{
    width: 10px;
    padding: 20px;
    background-color: #070316;
    color: white;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
}
.assine > a:hover{
    text-decoration: none;
    color: white;
}
/*opção*/
#opcoe{
    position: relative;
    top: 30px;
    width: 100%;
}
#opcoe-container{
    width: 80%;
}
.opcao-item{
    padding: 4.163775156141568% 10.409437890353921%;

}
.opcao-item > span{
    color: white;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
}

#opcao-profissional{
    border-bottom: 15px solid #FFAC09;
}
#opcao-profissional span > i{
    color: #FFAC09;
}
#opcao-empresa{
    border-bottom: 15px solid #9FE790;
}
#opcao-empresa span > i{
    color:#9FE790;
}
#opcao-contrato{
    border-bottom: 15px solid #9E6CDC;
}
#opcao-contrato span > i{
    color: #9E6CDC;
}
@media (max-width: 839px){
    #planos-conteudos{
        width: 100%;
    }
    .planos-item{
        width: 40%;
    }
    .planos-item table tr td > span{
        font-size: 1em;

    }
}
@media (max-width: 634px){
    .planos-item{
        width: 100%;
    }

    .planos-item table tr td > span{
        font-size: 1.25em;

    }
}
@media (max-width: 400px){
    #opcoe-container{
        width: 65%;
    }
}