.white{
    color: white;
}
#profile_contrato {
    background-color: rgba(0, 0, 0, 0.06);
    padding: 10px;
}
#perfil-container{
    width: 100%;
    padding: 20px;
}
.user-medias-img{
    width: 100px;
    height: 100px;
}
.text-thumb{
    font-family: 'Open sans', sans-serif;
    padding: 10px;
}
.botao-notificar{
    border:0px;
    padding: 10px 20px;
    background-color: #FFA72D;
    font-size: 1.05em;
    -webkit-box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.25);
    cursor: pointer;
}
.botao-notificar:focus{
    outline: none;
}
#contatos-info{
    width: 100%;
    padding: 10px;

}
/*modal container*/
.modal-container{
    display:none;
    width: 100%;


}
.notificar-modal{
    -webkit-box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.25);
    width: 100%;
    padding: 10px;
    background-color: #365262;
    position: fixed;
    top: 0px;
}
.mensagem-notifica{
    padding: 10px;
    width: 80%;
    height: 200px;
    background-color: #5d869b;
    font-family: 'Open sans', sans-serif;
    color: white;
}
#fechar-notifica{
    cursor: pointer;
}
#fechar-notifica:hover{
    text-decoration: underline;
}
/*erro notifica*/
#erro-notifica{
    display: none;
    position: fixed;
    top: 120px;
    left: 620px;
}