main {
    padding: 0px;
    background-color: rgba(0,0,0,0.02);
}
#main_container{
    width: 100%;
    padding: 10px;
}
.titulo-categoria > span {
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);

}

.formulario {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.24);
}
.form-cadastro{
    width: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.01);
    border-radius: 2px;
    margin-bottom: 5%;
}
#table-form{
    width: 100%;
}
#table-form tr > td{
    padding: 10px;
    text-align: center;
}
#table-form tr td > input[name='nome']{
    text-transform: uppercase;
}
#table-form tr td > label{
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;

}
.cadastro-form{
    border-radius: 2px;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.3);
}
@media (max-width: 1057px){
    .formulario{
        flex-direction: column;
    }
    .titulo-categoria > span{
        font-size: 1.5em;
    }
}
@media (max-width: 518px){
    #table-form tr > td{
        display: flex;
        flex-wrap: wrap;

    }
    #table-form tr td > label{
        width: 100%;
        text-align: left;

    }
    #table-form tr td > button{
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -ms-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
        width: 100%;
    }
    .cadastro-form{
        border-radius: 5px;
    }
    .form-cadastro{
        margin-bottom: 0px;
    }
}